/* Based of PyTorch css theme */
body {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

/* Default header fonts are ugly */
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend, p.caption {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

/* Use white for docs background */
.wy-side-nav-search {
    background-color: #f3ffff;
}

.wy-nav-content-wrap, .wy-menu li.current > a  {
    background-color: #fff;
}

.wy-nav-content {
  min-height: 100vh;
  max-width: 1000px;
}

@media screen and (min-width: 1400px) {
    .wy-nav-content-wrap {
      background: #fff;
    }

    .wy-nav-content {
        background-color: #fff;
    }
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #9B59B6;
}

/* Fixes for mobile */
.wy-nav-top {
    background-color: #fff;
    background-image: url('./photonnet-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0;
    margin: 0.4045em 0.809em;
    color: #333;
}

.wy-nav-top > a {
    display: none;
}

@media screen and (max-width: 768px) {
    .wy-side-nav-search>a img.logo {
        height: 60px;
    }
}

/* This is needed to ensure that logo above search scales properly */
.wy-side-nav-search a {
    display: block;
}

/* Use our red for literals (it's very similar to the original color) */
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #00BFD8;
}

.rst-content tt.xref, a .rst-content tt, .rst-content tt.xref,
.rst-content code.xref, a .rst-content tt, a .rst-content code {
    color: #404040;
}

/* Change link colors (except for the menu) */
a {
    color: #00BFD8;
}

a:hover {
    color: #00E1FF;
}

.wy-menu a {
    color: #b3b3b3;
}

.wy-menu a:hover {
    color: #b3b3b3;
}

/* Default footer text is quite big */
footer {
    font-size: 80%;
}

footer .rst-footer-buttons {
    font-size: 125%; /* revert footer settings - 1/80% = 125% */
}

footer p {
    font-size: 100%;
}

/* For hidden headers that appear in TOC tree */
/* see http://stackoverflow.com/a/32363545/3343043 */
.rst-content .hidden-section {
    display: none;
}

nav .hidden-section {
    display: inherit;
}

.wy-side-nav-search>div.version {
  color: #00BFD8;
}

/* Notes */
.note {
  background: #F0E6F4 !important;
}

.note .admonition-title {
  background: #9B59B6 !important;
}

/* Definition lists */
html.writer-html5 .rst-content dl.field-list {
  grid-template-columns: auto;
}

.rst-content dl:not(.docutils) dt {
  border-top: 3px solid #00BFD8;
  color: #00BFD8;
  margin: 6px 0;
  font-size: 90%;
  line-height: normal;
  background: #E7F2FA;
  padding: 6px;
  position: relative;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
  border-top: 3px solid #00BFD8;
  color: #00BFD8;
}

.rst-content dl:not(.docutils) .reference,
.rst-content dl:not(.docutils) .property {
  display: inline-block;
  padding-right: 4px;
}

/* Parameter, Return */
.rst-content dl:not(.docutils) dl.field-list.simple > dt {
  font-weight: bold;
  border: none;
  background: none;
  color: #404040;
  padding-left: 0;
}

.rst-content dl:not(.docutils) dl.field-list.simple {
  margin-bottom: 12px !important;
}

.rst-content dl:not(.docutils) dl.field-list.simple + ul.simple {
  margin: 0 0 12px 24px;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {
   .wy-table-responsive table td {
      white-space: normal !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* deprecated */
div.deprecated {
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  background: #FFCCCC;
}

div.deprecated:before {
  content: ' Deprecated';
  font: normal normal normal 16px/1 Lato,FontAwesome;
  display: block;
  margin: -12px;
  margin-bottom: 12px;
  padding: 6px 12px;
  color: #FFF;
  font-weight: bold;
  background: #ED6666;
}

/* experimental */
.rst-content .admonition-experimental {
  background: #FFCCCC;
}

.rst-content .admonition-experimental .admonition-title {
  background: #ED6666;
}
